<main class="container justify-content-md-center ">
  <div class="row justify-content-md-center">
    <mat-card class="col-5 mt-5 " >
      <div class="row justify-content-md-center">
        <div class="col-12 text-center">
          <h2>Has olvidado tu contraseña</h2>

        </div>
        <div class="col-12 text-justify text-regular">
          <h3>Ingrese la dirección correo electrónico con el que te registraste y has clic en "Enviar contraseña" para recibir un correo electrónico con las instrucciones necesarias.</h3>
        </div>
        <div class="mb-3 mt-4">
          <label for="exampleFormControlInput1" class="form-label">ID Usuario</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5 text-center">
          <button [routerLink]="['/home/resetpassword']" mat-raised-button color="success">Enviar</button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5 text-center">
          <button  [routerLink]="['/']" mat-raised-button color="warn">Cancelar</button>
        </div>
        <div class="col-8 mt-5 text-center">
          <img src="assets/img/logo_polichem_power.svg" alt="" class="img-fluid">
        </div>

      </div>
    </mat-card>
  </div>

</main>
