<app-head [Title]="'Alertas'"></app-head>
<div class="container-fluid bg-white">
  <div class="row p-t-50">

    <mat-form-field class="col-3">
      <mat-label>Buscar</mat-label>
      <input type="tel" matInput placeholder="Sal de grano">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="col-3">
      <app-dropdown [Titulo]="'Productos'"></app-dropdown>
    </div>
    <div class="col-2 d-flex justify-content-center">

      <button [routerLink]="['/dashboard/viewalerts']" mat-fab class="plus" color="warn" matTooltip="Agregar Alerta"
        [matTooltipPosition]="'below'">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="col-3">
      <app-buttonsgropu></app-buttonsgropu>
    </div>
  </div>

  <div class="row">
    <div class="col-3" *ngFor="let item of productos">
      <app-cardproductshome [Titulo]="item.Nombre" [subtitle]="item.subtitle" [Precio]="item.Precio" [MarkUp]='item.MarkUp' [Label]='item.Label'
        [Porcentaje]='item.Porcentaje' [FechaEdit]='item.FechaRegistro' [classhead]=item.classHead
        [classmakeup]=item.classMarkUp [NameEditUser]="item.NobreEditor" [buttonactiontrash]=true>
      </app-cardproductshome>
    </div>

  </div>
</div>
