<div class="container-fluid bg-white p-t-20 p-b-20">
  <div class="row ">
    <div class="col-3 text-bold">
      Determinador de Precios POLYCHEM
    </div>
    <div class="col-6 text-center text-semiBold">
      {{ Title}}
    </div>

    <div class="col-2 d-flex align-middle  justify-content-between">
      <mat-icon matBadge="15" class="mr-3" matBadgeColor="warn">warning_amber</mat-icon>
      <strong class="ml-3" [matMenuTriggerFor]="menu">Leonardo Lira Cazares

      </strong>


      <mat-menu #menu="matMenu">
        <button mat-menu-item>Cambiar Contraseña</button>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>
    </div>
    <div class="col-1 text-right">
      <img src="assets/img/logo_polichem.svg" class="img-fluid" alt="">
    </div>
  </div>
</div>
