<main class="container justify-content-md-center ">
  <div class="row justify-content-md-center">
    <mat-card class="col-5 mt-5 " >
      <div class="row justify-content-md-center">
        <div class="col-12 text-center">
          <h2>Determinador de Precios</h2>
          <br>
          <h4>Bienvenido</h4>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ID Usuario</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-6 mt-3 text-center">
          <mat-slide-toggle color="primary">!Recuerdame¡</mat-slide-toggle>
        </div>
        <div class="col-6 mt-3 text-center">
          <a [routerLink]="['/home/forgotpassword']">¡Has olvidado tu contraseña?</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5 text-center">
          <button (click)="nglogin()"  mat-raised-button color="success">Iniciar Sesion</button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5 text-center">
          <button mat-raised-button color="warn">Cancelar</button>
        </div>
        <div class="col-8 mt-5 text-center">
          <img src="assets/img/logo_polichem_power.svg" alt="" class="img-fluid">
        </div>

      </div>
    </mat-card>
  </div>

</main>
