<mat-card class="mt-4">
  <mat-card-title class="{{ classhead }}">{{Titulo}}</mat-card-title>
  <mat-card-subtitle> {{subtitle}}</mat-card-subtitle>
  <div class="container-fluid ">
    <div class="row pt-4 pb-4 d-flex justify-content-center">
      <div class="col-6 text-center">
        <span class="d-block">Precio</span>
        <span class="d-block  mt-3 fs-4 text-muted">{{ Precio | currency }}</span>
      </div>
      <div class="col-6 text-center">
        <span class="d-block">MarkUp</span>
        <span class="d-block mt-3 text-bold fs-3  makeup {{classmakeup}}">{{ MarkUp }}</span>
      </div>
      <div class="col-9 d-flex justify-content-between align-items-center mt-4">
        <span class="fs-5  text-primary m-r-20">{{Porcentaje}}</span><span>{{Label}}</span>
      </div>
      <div class="col-6  text-center mt-4">
        <span class="text-muted d-block">Nombre que Editor</span>
        <span  class="text-primary d-block">{{NameEditUser}}</span>
      </div>
      <div class="col-6 text-center mt-4">
        <span class="text-muted d-block">Fecha de Edición</span>
        <span  class="text-primary d-block">{{FechaEdit}}</span>
      </div>
    </div>
  </div>



  <mat-card-actions align="end" >
    <button *ngIf="buttonactiontrash" mat-button><mat-icon>delete</mat-icon></button>
    <button *ngIf="buttonactionedit"  mat-button><mat-icon class="icon">edit</mat-icon></button>
  </mat-card-actions>
</mat-card>
