<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <h2>Revisar</h2>
        </div>

        <div class="col-12">
          <div class="card col-12 mt-4">
            <div class="card-header">
              Contenido 1
            </div>
            <div class="card-body row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Contenido</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="staticEmail" value="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="staticEmail" value="">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                  <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-6 col-form-label">Gramaje</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="staticEmail" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-6 col-form-label">Costo/gr</label>
                      <label for="staticEmail" class="col-sm-6 col-form-label">{{ 11.00 | currency}} MXN</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-8 col-form-label">
                    <h2 class="text-bold">Costo/Unidad</h2>
                  </label>
                  <label for="staticEmail" class="col-sm-4 col-form-label">
                    <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                  </label>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card col-12 mt-4">


          <div class="card-header">
            Envase primario
          </div>
          <div class="card-body row">
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Envase</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card col-12 mt-4">
          <div class="card-header">
            Tapa
          </div>
          <div class="card-body row">
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Envase</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card col-12 mt-4">
          <div class="card-header">
            Etiqueta
          </div>
          <div class="card-body row">
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Etiqueta 1</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
            <div class="col-6 mt-4">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Etiqueta 2</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6 mt-4">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card col-12 mt-4">
          <div class="card-header">
            Empaque secundario
          </div>
          <div class="card-body row">
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Envase</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Contenido/empaque</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card col-12 mt-4">
          <div class="card-header">
            Empaque terciario
          </div>
          <div class="card-body row">
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Envase</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Proveedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Contenido/empaque</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="staticEmail" value="">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">Codigo de Producto</label>
                <label for="staticEmail" class="col-sm-4 col-form-label">454gf5df</label>

              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-8 col-form-label">
                  <h2 class="text-bold">Costo/Unidad</h2>
                </label>
                <label for="staticEmail" class="col-sm-4 col-form-label">
                  <h2 class="text-bold">{{ 11.00 | currency}} MXN</h2>
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card col-12 mt-4">
          <div class="card-header">
            Gastos Generales
          </div>
          <div class="card-body row">
            <span class="d-block">Costos incluidos</span>
            <span class="d-block text-bold mt-4">Elaboración</span>
            <table class="table">
              <thead class="thead-light bg-primary">
                <tr>
                  <th  scope="col"></th>
                  <th class="bg-primary" scope="col">Servicios</th>
                  <th class="bg-primary" scope="col">Logistica</th>
                  <th class="bg-primary" scope="col">Mano de obra</th>
                  <th class="bg-primary" scope="col">Otros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="bg-primary">Maquila</th>
                  <td class="text-center"><mat-icon>done</mat-icon></td>
                  <td class="text-center"><mat-icon>done</mat-icon></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row" class="bg-primary">Distribuicion</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row" class="bg-primary">Fabricación</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <span class="d-block text-bold mt-4">Canal</span>
            <table class="table">
              <thead class="thead-light bg-primary">
                <tr>
                  <th class="bg-primary" scope="col"></th>
                  <th class="bg-primary" scope="col">Servicios</th>
                  <th class="bg-primary" scope="col">Logistica</th>
                  <th class="bg-primary" scope="col">Mano de obra</th>
                  <th class="bg-primary" scope="col">Otros</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="bg-primary">Horeca</th>
                  <td class="text-center"><mat-icon>done</mat-icon></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row" class="bg-primary">Retail</th>
                  <td class="text-center"><mat-icon>done</mat-icon></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row" class="bg-primary">Exportación</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-buttonsgropu></app-buttonsgropu>
      <app-viewproduct></app-viewproduct>
      <button [routerLink]="['/dashboard/']" class="btn btn-primary  mt-5">Guardar</button>
    </div>
  </div>
</div>
