@import '../../../../styles.scss';
.general{
  font-size: 18px;
}

.markup{
  color: map-get($colors, primary );
  font-size: 20px;
    &.danger{
      color: rgba(map-get($colors,danger),1);
    }
}

.precioventa{
  font-size: 20px;
}

.card{
  padding-bottom: 5px;
  &.bg-gris4N{
    border-radius: 50px;
  }

}
